body {
    color: white;
    background-color: #060606;
  }
  
h1 {
    color: white;
}

h2 {
    color: #2a9fd6;
}

h3 {
    color: white;
}

h4 {
    /* color: #005999; */
    color: #0077cc;
}

body .site-header {
    color: white;
    background-color: #005999;
}

a .site-title { 
    color: white;
}

a .page-link { 
    color: white;
}

.site-title, .site-title:visited {
    color: white !important;
}

.site-nav .page-link {
    color: white !important; 
}

hr .h2line {
    background-color: #2a9fd6;
    border-color: #2a9fd6;
}