{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <!-- <form style="text-align:center;" method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Log In">
  </form> -->
  <script src="https://accounts.google.com/gsi/client" async defer></script>
  <div id="g_id_onload"
     data-client_id="358443558189-5kna612pmfcag36g9bsppc4rrojr8rlk.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="redirect"
     data-login_uri="http://localhost:5000/login/callback"
     data-auto_prompt="false">
  </div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="filled_black"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
</div>
{% endblock %}