{% extends 'base.html' %}

{% block header %}
  <h1 style="text-align:center;">{% block title %}Account Manager{% endblock %}</h1>
{% endblock %}

{% block content %}
 {% if current_user.is_authenticated and institutions is defined and access_token is not defined %}
  <form style="text-align:center;"  action="{{ url_for('plaid.create_sandbox_link_token') }}" method="post">
    <label for="institution">Select an institution to test with:</label>
    <select name="institution" method="GET" action="/">
        {% for institution in institutions %}
        <option value= "{{institution}}" SELECTED>{{institution}}</option>"
        {% endfor %}
    </select>
    <input type="submit" value="Select a test account">
  </form>
 {% elif current_user.is_authenticated and tables is defined and institutions is not defined %}
    {% for table in tables %}
                {{ table|safe }}
    {% endfor %}
 {% else %}
  <form style="text-align:center;"  action="{{ url_for('store_plaid_credentials') }}" method="post">
    <label for="client_id">Client ID</label>
    <input name="client_id" id="client_id" required>
    <label for="secret_key">Plaid Secret</label>
    <input type="password" name="secret_key" id="secret_key" required>
    <input type="submit" value="Enable Plaid">
  </form>
 {% endif %}

  <form style="text-align:center;" method="post">
    <label for="twitter_id">Twitter Credentials</label>
    <input type="password" name="twitter_id" id="twitter_id" required>
    <label for="reddit_key">Reddit Credentials</label>
    <input type="password" name="reddit_key" id="reddit_key" required>
    <input type="submit" value="Enable Social Integrations">
  </form>

{% endblock %}